.bar-header 
{ 
    background-color: #5069A1; 
}
ion-side-menu li .item 
{ 
    background-color: #313848; 
    border-color: #4F5865; 
    color: #BCC3CF; 
    
} 
ion-side-menu li.item 
{ 
    border-color: #4F5865; 
} 
ion-side-menu li.item.item-divider 
{ 
    background-color: #3E4755; 
}
 .ion-ionic 
 { 
     color: orange; 
     
 } 
 .ion-home 
 { 
     color: blue; 
     
 } 
 .ion-ios-bell 
 { 
     color: yellow; 
 } 
 .ion-chatbox 
 { 
     color: green; 
 } 
 .ion-calendar 
 { 
     color: white; 
 } .ion-folder { color: purple; } .ion-earth { color: maroon; } .ion-help-buoy { color: orange; } .ion-gear-b { color: dimgray; } .ion-log-out { color: red; }
 .ion-download{display:none;}
 .ion-clound{display:none;}